@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #faf2e6;
    --foreground: #1c1c1a;
    --text: #1c1c1a;
    --foreground-text: #faf2e6;
    --border: #dbc09e;
    --hover: #f2e0c4;
    --hover-foreground: #3d3d37;
    --hover-foreground-text: #faf2e6;
    --active: #fae4c3;
    --active-foreground: #57574d;
  }

  .dark {
    --background: #181515;
    --foreground: #e8e3e3;
    --text: #e8e3e3;
    --foreground-text: #181515;
    --border: #ff2741;
    --hover: #ff3b52;
    --hover-foreground: #ff3b52;
    --hover-foreground-text: #181515;
    --active: #ffa03b;
    --active-foreground: #ffa03b;
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/Inter-Regular.woff2) format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../fonts/Inter-Bold.woff2) format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/Inter-Italic.woff2) format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url(../fonts/Inter-BoldItalic.woff2) format("woff2");
  }

  body {
    font-family: "Inter", sans-serif;
    background-color: var(--background);
    color: var(--text);
  }

  h1, h2, h3 {
    font-weight: bold;
  }

  h1 {
    @apply text-2xl;
  }
  
  h2 {
    @apply text-xl py-2;
  }

  h3 {
    @apply text-lg;
  }

  ul, ol {
    @apply list-inside;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  section {
    @apply w-full flex flex-col;
  }
}

@layer utilities {
  .debug {
    border: 1px solid red;
  }
}
