@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #faf3e6;
    --text: #1a1a1a;
    --foreground: var(--text);
    --foreground-text: var(--background);

    --border: #d7b697;
    --hover: #f4e0c8;
    
    --hover-foreground: #404040;
  }

  .dark {
    --background: #181515;
    --text: #e8e3e3;
    --foreground: var(--text);
    --foreground-text: var(--background);

    --border: #ff2741;
    --hover: #2e2828;

    --hover-foreground: #fafafa;
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/Inter-Regular.woff2) format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../fonts/Inter-Bold.woff2) format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/Inter-Italic.woff2) format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url(../fonts/Inter-BoldItalic.woff2) format("woff2");
  }

  body {
    font-family: "Inter", sans-serif;
    background-color: var(--background);
    color: var(--text);
  }

  h1, h2, h3 {
    font-weight: bold;
  }

  h1 {
    @apply text-3xl;
  }
  
  h2 {
    @apply text-2xl py-4;
  }

  h3 {
    @apply text-xl;
  }

  section {
    @apply flex flex-col;
  }

  ul {
    @apply list-inside list-disc;
  }

  ol {
    @apply list-inside list-decimal;
  }
}

@layer utilities {
  .debug {
    border: 1px solid red;
  }
}
